* {
  font-family: "Candara";
  box-sizing: border-box;
}

.nav-contenedor {
  width: 100%;
  
  height: 15vh;
  background-color: rgb(17, 129, 209);
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.logo1 {
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
}

.logo2{


  height: 30vh;
  
  justify-content: center;
  align-items: center;
  justify-items: center;

}
