.item-card {
  
 display: grid;
 align-items: end;
 justify-content: flex-start;
 justify-items: auto;
 flex-direction: column;
 flex-wrap: wrap;

  background-color: #61788b;
  border: 2px solid #00e5ff;
  border-radius: 12px;
  width: 20vw;
  padding: 16px;
  text-align: center;
  color: #00e5ff;
  font-family: "Press Start 2P", cursive;
  box-shadow: 0 0 12px rgba(0, 229, 255, 0.5);
  transition: transform 0.3s ease;
}

.item-card:hover {
  transform: scale(1.05);
}



.item-card-img {
    
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.details-btn {
  display: inline-block;
  margin-top: 0.8rem;
  padding: 0.6rem 1rem;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;

  background-color: #00eaff; 
  color: #000;
  border: 2px solid #00eaff;

  transition: all 0.3s ease;
}

.details-btn:hover {
  background-color: transparent;
  color: #00eaff;
  box-shadow: 0 0 10px #00eaff;
}